<config>
    <modules>
        <Evozon_Andrei>
            <version>0.1.0</version>
        </Evozon_Andrei>
    </modules>
        
        <frontend>
            <routers>
                <andrei>
                    <use>standard</use>
                    <args>
                        <module>Evozon_Andrei</module>
                        <frontName>andrei</frontName>
                    </args>
                </andrei>
            </routers>  
        </frontend>
        
        <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Evozon_Andrei_model_observer>
                        <type>singleton</type>
                        <class>Evozon_Andrei_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Evozon_Andrei_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
        
        
        <blocks>
            <evozon_andrei>
              <class>Evozon_Andrei_Block</class>
            </evozon_andrei>
        </blocks>
        
        <models>
            <evozon_andrei>
              <class>Evozon_Andrei_Model</class>
            </evozon_andrei>
        </models>
        
        </global>
</config>