<?xml version="1.0"?>
<config>	
    <modules>
        <Evozon_Raul>
            <version>0.1.0</version>
        </Evozon_Raul>
    </modules>
    <global>
        <blocks>
            <evozon_raul>
                <class>Evozon_Raul_Block</class>
            </evozon_raul>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_raul>
                    <file>banner.xml</file>
                </evozon_raul>                
            </updates>                
        </layout>
    </frontend>
	
</config>

