<?xml version="1.0"?>
<config>	
    <modules>
        <Evozon_Delia>
            <version>0.1.0</version>
        </Evozon_Delia>
    </modules>
    <global>
        <blocks>
            <evozon_delia>
                <class>Evozon_Delia_Block</class>
            </evozon_delia>
        </blocks>
        <models>
            <evozon_delia>
                <class>Evozon_Delia_Model</class>
                <resourceModel>evozon_delia_resource</resourceModel>
            </evozon_delia>
            <evozon_delia_resource>
                <class>Evozon_Delia_Model_Resource</class>
                <entities>
                    <banner>
                        <table>evozon_banners</table>
                    </banner>
                </entities>
            </evozon_delia_resource>
        </models>
        
        <resources>
            <evozon_delia_setup>
                <setup>
                    <module>Evozon_Delia</module>
                    <class>Evozon_Delia_Model_Resource_Setup</class>
                </setup>
            </evozon_delia_setup>
            <evozon_delia_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </evozon_delia_write>
            <evozon_delia_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </evozon_delia_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_delia>
                    <file>banner.xml</file>
                </evozon_delia>                
            </updates>                
        </layout>
    </frontend>
</config>
