<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Evozon_FirstTask>
            <version>0.1.0</version>
        </Evozon_FirstTask>
    </modules>
    <global>
        <blocks>
            <evozon_firsttask>
              <class>Evozon_FirstTask_Block</class>
            </evozon_firsttask>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_catalog>
                    <file>simpletext.xml</file>
                </evozon_catalog>                
            </updates>                
        </layout>
    </frontend>
</config>