<?xml version="1.0"?>
<config>	
    <modules>
        <Evozon_Bogdan_Catalog>
            <version>0.1.0</version>
        </Evozon_Bogdan_Catalog>
    </modules>
    <global>
        <blocks>
            <evozon_bogdan_catalog>
                <class>Evozon_Bogdan_Catalog_Block</class>
            </evozon_bogdan_catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_bogdan>
                    <file>banner.xml</file>
                </evozon_bogdan>                
            </updates>                
        </layout>
    </frontend>
	
</config>

