<?xml version="1.0"?>
<config>
    <global>
        <!--        <models>
            <catalog>
                <rewrite>
                    <category>Evozon_Bogdan_Catalog</category>
                </rewrite>
            </catalog>
        </models>-->
        <!--        merge-->
        <blocks>
            <evozon_bogdan_catalog>
                <class>Evozon_Bogdan_Block</class>
            </evozon_bogdan_catalog>
        </blocks>
        <!--        <helpers>
            <catalog>
                <class>Evozon_Bogdan_Catalog</class>
            </catalog>
        </helpers>-->
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_bogdan_catalog>
                    <!-- Our layout file name-->
                    <file>bloculmeu.xml</file> 
                </evozon_bogdan_catalog>
            </updates>
        </layout>
        <routers>
            <evozon_bogdan_catalog>
                <use>standard</use>
                <args>
                    <module>Mage_Catalog</module>
                    <frontName>catalog</frontName>
                </args>
            </evozon_bogdan_catalog>
        </routers>
        <default>
            <router>catalog</router>
        </default>
    </frontend>
    
</config>
