<?xml version="1.0"?>
<config>
    <modules>
        <Evozon_Bogdan_Catalog>
            <version>0.2.0</version> 
        </Evozon_Bogdan_Catalog>
        
    </modules>
    <global>
        <models>
            <evozon_bogdan_catalog>
                <class>Evozon_Bogdan_Catalog_Model</class>
                <resourceModel>evozon_bogdan_catalog_resource</resourceModel>
            </evozon_bogdan_catalog>
            <evozon_bogdan_catalog_resource>
                <class>Evozon_Bogdan_Catalog_Model_Resource</class>
                <entities>
                    <!--                    banner table -->
                    <banner>
                        <table>evozon_catalog_banners</table> 
                    </banner> 
                    <!--                    banner category connection table -->
                    <bannercategoryconnection>
                        <table>evozon_catalog_banners_category_connection</table>
                    </bannercategoryconnection>   
                </entities>
            </evozon_bogdan_catalog_resource>
        </models>
        <!--        <evozon_bogdan_catalog>
            <helper>catalog/attributes</helper>
        </evozon_bogdan_catalog>-->
        <helpers>
            <evozon_bogdan_catalog>
                <class>evozon_bogdan_catalog_helper</class>
            </evozon_bogdan_catalog> 
        </helpers>
        <resources>
            <evozon_bogdan_catalog_setup>
                <setup>
                    <module>Evozon_Bogdan_Catalog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </evozon_bogdan_catalog_setup> 
            <evozon_bogdan_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </evozon_bogdan_catalog_write>
            <evozon_bogdan_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </evozon_bogdan_catalog_read>
        </resources>
        <blocks>
            <evozon_bogdan_catalog>
                <class>Evozon_Bogdan_Catalog_Block</class>
            </evozon_bogdan_catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_bogdan>
                    <file>banner.xml</file>
                </evozon_bogdan>                
            </updates>                
        </layout>
    </frontend>
	
</config>

