
<config>	
    <modules>
        <Evozon_Georgiana>
            <version>0.1.4</version>
        </Evozon_Georgiana>
    </modules>
    
    <global>
        <blocks>
            <evozon_georgiana>
                <class>Evozon_Georgiana_Block</class>
            </evozon_georgiana>
        </blocks>
        
        <models>
            <evozon_georgiana>
                <class>Evozon_Georgiana_Model</class>
                <resourceModel>evozon_georgiana_resource</resourceModel>
            </evozon_georgiana>
            
            <evozon_georgiana_resource>
                <class>Evozon_Georgiana_Model_Resource</class>
                <entities>
                    <banner>
                        <table>evozon_banners</table>
                    </banner>
                    <link>
                        <table>evozon_banners_to_categories</table>
                    </link>
                </entities>
            </evozon_georgiana_resource>  
        </models>
        
        <resources>
            <evozon_georgiana_setup>
                <setup>
                    <module>Evozon_Georgiana</module>
                    <class>Evozon_Georgiana_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
                
                <evozon_georgiana_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </evozon_georgiana_write>
                
                <evozon_georgiana_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </evozon_georgiana_read>
            </evozon_georgiana_setup> 
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <evozon_catalog>
                    <file>georgiana.xml</file>
                </evozon_catalog>                
            </updates>                
        </layout>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Evozon_Georgiana</module>
                    <frontName>georgiana</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>
    
    
        
</config>
