<config>	
    <modules>
        <Evozon_Qa_Adminhtml>
            <version>0.1.0</version>
        </Evozon_Qa_Adminhtml>
    </modules>
    <global>
        <blocks>
            <evozon_qa_adminhtml>
                <class>Evozon_Qa_Adminhtml_Block</class>
            </evozon_qa_adminhtml>
        </blocks>
        <models>
            <evozon_qa_adminhtml>
                <class>Evozon_Qa_Adminhtml_Model</class>
                <resourceModel>evozon_qa_adminhtml_resource</resourceModel>
            </evozon_qa_adminhtml>
            <evozon_qa_adminhtml_resource>
                <class>Evozon_Qa_Adminhtml_Model_Resource</class>
                <entities>
                    <questions>
                        <table>evozon_questions</table>
                    </questions>
                    <answers>
                        <table>evozon_answers</table>
                    </answers>
                </entities>
            </evozon_qa_adminhtml_resource>
        </models>
        <resources>
            <qa_menu_setup>
                <setup>
                    <module>Evozon_Qa_Adminhtml</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qa_menu_setup>
            <qa_menu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qa_menu_write>
            <qa_menu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qa_menu_read>
        </resources>
        <helpers>
            <evozon_qa_adminhtml>
                <class>Evozon_Qa_Adminhtml_Helper</class>
            </evozon_qa_adminhtml>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <qa_adminhtml after="Mage_Adminhtml">Evozon_Qa_Adminhtml</qa_adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <qa_menu>
                    <file>qa_menu.xml</file>
                </qa_menu>
            </updates>
        </layout>
    </adminhtml>
</config>